{{ $data := index site.Data site.Language.Lang }}

{{ if $data.skill.skill.enable }}
{{ with $data.skill.skill }}
{{"<!-- Skills -->" | safeHTML }}
<section id="skills" class="parallax-section section section-bg overly">
	<div class="container">
		<div class="row">
			{{"<!-- section title -->" | safeHTML }}
			<!--<div class="col-lg-12">-->
			<div>
				<div class="title text-center">
					<h2>{{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
						{{ with .title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}</span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML }}
		</div>
	</div>
	<div class="row">
			<div class="col-lg-12 text-center">
			<!--<div class="col-lg-6">-->
				<h2>{{ .subtitle | markdownify }}</h2>
				<p> {{ .content | markdownify }}</p>
				<!--{{ with .image }}
				<img class="img-fluid lozad" data-src="{{ . | absURL }}" alt="image">
				{{ end }}-->
			</div>
			<div class="col-lg-12 text-center">
			<!--<div class="col-lg-6">-->
				<h2>William's Research</h2>
				<p> This is the content</p>
				<!--{{ with .image }}
				<img class="img-fluid lozad" data-src="{{ . | absURL }}" alt="image">
				{{ end }}-->
			</div>
			<!--<div class="col-lg-12 text-center">
			<!--<div class="col-lg-6">-->
				<h2>Lior's</h2>
				<p> This is the content</p>
				<!--{{ with .image }}
				<img class="img-fluid lozad" data-src="{{ . | absURL }}" alt="image">
				{{ end }}-->
			</div>-->
		</div>
</section>
{{"<!-- /skill -->" | safeHTML }}
{{ end }}
{{ end }}
